<h1>Listing faber_giraldos</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Edad</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @faber_giraldos.each do |faber_giraldo| %>
  <tr>
    <td><%= faber_giraldo.nombre %></td>
    <td><%= faber_giraldo.edad %></td>
    <td><%= link_to 'Show', faber_giraldo %></td>
    <td><%= link_to 'Edit', edit_faber_giraldo_path(faber_giraldo) %></td>
    <td><%= link_to 'Destroy', faber_giraldo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Faber giraldo', new_faber_giraldo_path %>
