<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @faber_giraldo.nombre %>
</p>

<p>
  <b>Edad:</b>
  <%= @faber_giraldo.edad %>
</p>


<%= link_to 'Edit', edit_faber_giraldo_path(@faber_giraldo) %> |
<%= link_to 'Back', faber_giraldos_path %>
