<p id="notice"><%= notice %></p>

<p>
  <b>Destinatario:</b>
  <%= @private_message.user.firtname %> <%= @private_message.user.secondname %>
</p>

<p>
  <b>Subject:</b>
  <%= @private_message.subject %>
</p>

<p>
  <b>Content:</b>
  <%= @private_message.content %>
</p>
