<p id="notice"><%= notice %></p>

<p>
  <b>From:</b>
  <%= @private_message.from_id %>
</p>

<p>
  <b>To:</b>
  <%= @private_message.to_id %>
</p>

<p>
  <b>Subject:</b>
  <%= @private_message.subject %>
</p>

<p>
  <b>Content:</b>
  <%= @private_message.content %>
</p>


<%= link_to 'Edit', edit_private_message_path(@private_message) %> |
<%= link_to 'Back', private_messages_path %>
