<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#show_users').dataTable();
	}); 
</script>

<h1>Listado de Usuarios</h1>

<table class="table" id="show_users">
  <tr>
    <th>Username</th>
    <th>Nombre</th>
    <th>Code</th>
    <th>Email</th>
    <th>Dependence</th>
    <th>Rol</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.firtname %> <%= user.secondname %></td>
    <td><%= user.code %></td>
    <td><%= user.email %></td>
    <td><%= user.dependence.name %></td>
    <td><%= user.rol %></td>
    <td><%= link_to image_tag("icon_view.png", :border=>0), user %>
    <%= link_to image_tag("icon_edit.png", :border=>0), edit_user_path(user) %>
    <%= link_to image_tag("icon_delete.png", :border=>0), user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Crear Usuario', new_user_path %>
