<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>


<p>
  <b>Firtname:</b>
  <%= @user.firtname %>
</p>

<p>
  <b>Secondname:</b>
  <%= @user.secondname %>
</p>

<p>
  <b>Code:</b>
  <%= @user.code %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Dependence:</b>
  <%= @user.dependence.name %>
</p>

<p>
  <b>Rol:</b>
  <%= @user.rol %>
</p>


<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Atras', users_path %>
