<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#show_dependences').dataTable();
	}); 
</script>

<h1>Lista de dependencias</h1>

<table id="show_dependences">
  <tr>
    <th>Nombre</th>
    <th>Misión</th>
    <th>Visión</th>
    <th>Información</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dependences.each do |dependence| %>
  <tr>
    <td><%= dependence.name %></td>
    <td><%= dependence.mision %></td>
    <td><%= dependence.vision %></td>
    <td><%= dependence.information %></td>
    <td>
    	<%= link_to image_tag("icon_view.png", :border=>0), dependence %>
    	<%= link_to image_tag("icon_edit.png", :border=>0), edit_dependence_path(dependence) %>
    	<%= link_to image_tag("icon_delete.png", :border=>0), dependence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dependence', new_dependence_path %>
