<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#show_events').dataTable();
	}); 
</script>

<h1>Listado de Eventos</h1>

<table class="table" id="show_events">
  <tr>
    <th>Nombre</th>
    <th>Descripción</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @eventos.each do |evento| %>
  <tr>
    <td><%= evento.nombre %></td>
    <td><%= evento.descripcion %></td>
    <td><%= link_to image_tag("icon_view.png", :border=>0), evento %>
    	<%= link_to image_tag("icon_edit.png", :border=>0), edit_evento_path(evento) %>
    	<%= link_to image_tag("icon_delete.png", :border=>0), evento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Evento', new_evento_path %>
