<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#show_calls').dataTable();
	}); 
</script>

<div>

	<h1>Listado de Convocatorias</h1>

	<table id="show_calls">
		<thead>
			<tr>
				<th>Titulo</th>
				<th>Apertura</th>
				<th>Cierre</th>
				<th>Perfil</th>
				<th>Labores</th>
				<th>Horas Semanales</th>
				<th>Horas Totales</th>
				<th style="30px"></th>
			</tr>
		</thead>
		<% @calls.each do |call| %>
		<tr>
			<td><%= call.title %></td>
			<td><%= call.opening %></td>
			<td><%= call.close %></td>
			<td><%= call.profile %></td>
			<td><%= call.work %></td>
			<td><%= call.hours_week %></td>
			<td><%= call.hours_total %></td>
			<td> <%= link_to image_tag("icon_view.png", :border=>0), call %>
			<%= link_to image_tag("icon_edit.png", :border=>0), edit_call_path(call)  %>
			<%= link_to image_tag("icon_delete.png", :border=>0), call, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<% end %>
	</table>

</div>