<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @call.title %>
</p>

<p>
  <b>Opening:</b>
  <%= @call.opening %>
</p>

<p>
  <b>Close:</b>
  <%= @call.close %>
</p>

<p>
  <b>Profile:</b>
  <%= @call.profile %>
</p>

<p>
  <b>Work:</b>
  <%= @call.work %>
</p>

<p>
  <b>Hours week:</b>
  <%= @call.hours_week %>
</p>

<p>
  <b>Hours total:</b>
  <%= @call.hours_total %>
</p>


<%= link_to 'Editar', edit_call_path(@call) %> |
<%= link_to 'Listado de Convocatorias', calls_path %>
