<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#show_inbox').dataTable();
	}); 
</script>

<div>

	<h1>Bandeja de Entrada</h1>

	<table class="table" id="show_inbox">
		<thead>
			<tr>
				<th>Asunto</th>
				<th>Dependencia</th>
				<th>Usuario</th>
				<th></th>
			</tr>
		</thead>

		<% @messages.each do |message| %>
		<tr>
			<td><%= message.subject %></td>
			<td><%= message.dependence.name %></td>
			<td><%= message.user.firtname %> <%= message.user.secondname %></td>
			<td><%= link_to image_tag("icon_view.png", :border=>0), message %>
			<%= link_to image_tag("icon_delete.png", :border=>0), message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<% end %>
	</table>

</div>
