<p id="notice"><%= notice %></p>
redactor
<p>
  <b>Subject:</b>
  <%= @message.subject %>
</p>

<p>
  <b>Content:</b>
  <%= @message.content %>
</p>

<p>
  <b>Dependence:</b>
  <%= @message.dependence.name %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
